<<<<<<< HEAD
<div class=post-content>
  <%= @post.title %>
  <%= @post.content %>
  <% @post.categories.each do |category| %>
    <%= category.name %>
  <% end %>
  <% @post.comments.each do |comment| %>
    <%= comment.content %>
  <% end %>
</div>
=======


  <%= @post.title %>
  <%= @post.content %>
>>>>>>> 1e5f054ffd6c785b2778657f37cf389ba70307b8
